@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="searchBoxContainer last-child">
        <div style="text-align: center;">
            <img class="HFDoorInHeader last-child" alt="Pata Maskani Search Logo" src="~/Images/search-homes-for-rent.png" />
        </div>
        <h1>Home Search</h1>

        @*<div id="searchWrapper" class="last-child">
        <div class="searchActionContainer alignPlaceholder">
            <input type="text" id="neighborhood" class="search area" name="neighborhood" value="" placeholder="Enter neighborhood of choice" autocomplete="off" style="line-height: normal;">
            <div class="ac_results">
            </div>
        </div>
    </div>
    <a href="http://asp.net" class="btn btn-primary btn-lg">Search</a>*@
        @*<p><input type="submit" value="Search" class="btn btn-default" /></p>*@


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                The Real Estate Manager is an application that makes it easy to build a network of clients for your real estate properties
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more agents</h2>
            <p>NuGet is a free web extension that makes it easy to add, remove, and update agents from within the platform.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>